@import "../../sass/index.scss";

.card {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: .5rem;
    background-color: $color-light-grey;
    padding: 4rem;
    max-height: 125px;

    @media screen and (max-width: 1100px) {
        width: 48.5%;
        padding: 2rem;
    }

    @media screen and (max-width: 750px) {
        width: 100%;
    }

    img {
        padding: 2rem;
        border-radius: .5rem;
    }

    .bg_energy {
        background-color: rgba(255, 0, 0, 0.2);
    }

    .bg_chicken {
        background-color: rgba(74, 183, 255, 0.2);
    }

    .bg_apple {
        background-color: rgba(253, 205, 12, 0.2);
    }

    .bg_cheeseburger {
        background-color: rgba(253, 81, 130, 0.2);
    }

    &_infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
            font-size: clamp(1.8rem, 2vw, 2rem);
        }

        p {
            font-size: clamp(1.4rem, 1.4vw, 1.4rem);
            color: $color-dark-grey;
        }
    }
}