.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    &_type {
      display: flex;
      align-items: center;
      gap: 5rem;

      span {
        font-size: clamp(1.8rem, 2vw, 2.4rem);
      }

      .checkbox {
        position: relative;
        width: fit-content;

        input[type="checkbox"] {
          appearance: none;
          width: 10rem;
          height: 5rem;
          cursor: pointer;
          border-radius: 5rem;
          border: 1px solid rgba(0, 0, 0, 0.2);

          background-color: #f1f1f1;
        }

        label {
          position: absolute;
          left: 0;
          width: 5rem;
          height: 5rem;

          border-radius: 50%;
          background-color: #000;
          cursor: pointer;
          transition: transform 0.2s ease-in-out;
        }

        input:checked+label {
          transform: translateX(5rem);
        }
      }
    }

    &_link {
      display: flex;
      gap: 10rem;
      font-size: clamp(1.8rem, 2vw, 2.4rem);
    }

    p {
      font-size: clamp(1.8rem, 2vw, 2.4rem);
      color: #ff0101;
    }
  }
}