@import "../../sass/index.scss";

.lineChart {
    position: relative;
    background-color: #FF0000;
    border-radius: .5rem;

    &_tooltip {
        background-color: #fff;
        padding: 1rem;
    }

    &_overlay{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}